<!DOCTYPE html>
<html>
  <head>
    <title>MeetMe App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <ul class="header_bar">
        <li class="header_bar_item">MeetMe Home</li>
        <li class="header_bar_item">All Locations</li>
        <li class="header_bar_item">Contact Us</li>
      </ul>
    </header>

  <%= yield %>

  </body>
</html>
